<h1>The Dirty Burger</h1>
<p>
“	I got my boys, I got my burgers, that’s all I got, I need to hear a bam!	”
– Phil Collins</p>
<br>

<div id="container">
<div id="first">
<h2>Burgers that have not been eaten!</h2>
<ul>
  {{#each burgers}}
    {{#unless status}}
      {{>burgers/burger-block status=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id="second">
<h2>Burgers that have been eaten!</h2>
<ul>
  {{#each burgers}}
    {{#if status}}
      {{> burgers/burger-block status=false}}
    {{/if}}
  {{/each}}
</ul>

<div id="clear"></div>
</div>

</div>

<br>
<div id="container">
<h2>Add a Burger</h2>
<form class="create-form">
  <label for="burger">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>
  

<button type="submit">Add Burger</button>

</form>