<h1>Burgers!</h1>

<h2>Burgers that have not been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless status}}
      {{>burgers/burger-block status=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if status}}
      {{> burgers/burger-block status=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
  <label for="burger">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="status">Eaten?</label><br>
    <input type="status" name="eaten" value="1" checked> Eaten!<br>
    <input type="status" name="eaten" value="0">Not Eaten 
  </div>

  <button type="submit">Add Burger</button>

</form>